# Latex
*.aux
*.log
*.toc
*.pdf
*.pdfsync

# Zips for delivery
delivery/*
*.pdf

# C
*.o
src/serial/life3d
src/omp/life3d-omp
src/mpi/life3d-mpi

# Tests
*.err*
*.diff*
*.myout*

## Python Notebooks
plotting/.ipynb_checkpoints/*
plotting/.tool-versions
